.wrapper {
  padding: 32px 64px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border);

  .logoMenuWrapper {
    display: flex;
    align-items: center;
    gap: 2rem;

    .menu {
      .links {
        display: flex;
        gap: 1.5rem;
        a {
          color: #323232;
          font-size: 1.2rem;
          font-weight: 500;
        }
      }
    }
  }
}
